@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  --tea-green: #EBFFED;
  --primary-text: #032E63;
  --secondary: #60a5fa;
  --secondary-hover: #3B82F6;
  --card-secondary: #F7F8F8;
  --grey-border: #e5e5e5;
  --muted-foreground: #6b7280;
  --muted: #e5e5e6;
}

@theme {
  --color-tea-green: var(--tea-green);
  --color-primary-text: var(--primary-text);
  --color-secondary: var(--secondary);
  --color-grey-border: var(--grey-border);
  --color-secondary-hover: var(--secondary-hover);
  --font-family: "Quicksand", sans-serif;
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-card-secondary: var(--card-secondary);
}

html {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  background-color: var(--grey)
  /* min-height: 80rem; */
}
main {
  padding: 2rem 1rem;
}

.logo__icon:hover {
 fill: var(--secondary-hover);
}
.logo__icon {
 fill: var(--primary-text);
}